<footer>MICHAEL LUK-I-MAN 2018. <span style='text-decoration: line-through;'>Squarespace</span> <span style='text-decoration: line-through;'>Wordpress</span> <span style='text-decoration: line-through;'>Wix</span> </footer>
</body>
</html>
