</head>
<body>
  <div id="grad">
    <%# <div class="sky-gradient sky-gradient-00"></div>
    <div class="sky-gradient sky-gradient-01"></div>
    <div class="sky-gradient sky-gradient-02"></div>
    <div class="sky-gradient sky-gradient-03"></div>
    <div class="sky-gradient sky-gradient-04"></div>
    <div class="sky-gradient sky-gradient-05"></div>
    <div class="sky-gradient sky-gradient-06"></div>
    <div class="sky-gradient sky-gradient-07"></div> %>
    <div class="sky-gradient sky-gradient-08"></div>
    <div class="sky-gradient sky-gradient-09"></div>
    <div class="sky-gradient sky-gradient-10"></div>
    <div class="sky-gradient sky-gradient-11"></div>
    <div class="sky-gradient sky-gradient-12"></div>
    <div class="sky-gradient sky-gradient-13"></div>
    <div class="sky-gradient sky-gradient-14"></div>
    <div class="sky-gradient sky-gradient-15"></div>
    <div class="sky-gradient sky-gradient-16"></div>
    <div class="sky-gradient sky-gradient-17"></div>
    <div class="sky-gradient sky-gradient-18"></div>
    <div class="sky-gradient sky-gradient-19"></div>
    <div class="sky-gradient sky-gradient-20"></div>
    <div class="sky-gradient sky-gradient-21"></div>
    <div class="sky-gradient sky-gradient-22"></div>
    <div class="sky-gradient sky-gradient-23"></div>
    <%# <div class="sky-gradient sky-gradient-24"></div> %>
  </div>
