
	<nav>
        <h1><a tooltip="Day-to-day." flow='right' href="/A/index.html">DAILY LIFE</a></h1>
				<h1><a tooltip="CV and positions of experience." flow='right' href="/cv/index.html">EXPERIENCE</a></h1>
				<h1><a tooltip="Non-silo'd, no holds barred output that will last after me." flow='right' href="/d/index.html">DILLETANTISM</a></h1>
				<h1><a tooltip="Specialized things learned in a classroom and seminars." flow='right' href="/e/index.html">FORMAL EDUCATION</a></h1>
				<h1><a tooltip="Places in this universe." flow='right' href="/ex/index.html">EXPLORATION</a></h1>
				<h1><a tooltip="Other thiiings." flow='right' href="/b/index.html">MISC</a></h1>
				<h1> <a tooltip="Deciding where I start and stop." flow='right' href="/I/index.html">ABOUT</a></h1>
				<h1><a tooltip="Keep it flowing!" flow='right' href="/news/index.html">NEWS</a></h1>

			</nav>
