<div id='newsetal'>
  <div class='bit'<a href="map">Quick bites: </a></div>
  <div class='bit'><a href="courier">Courier New vs. Comic Sans | </a></div>
  <div class='bit'><a href="revamp">Website revamp | </div>
  <div class='bit'><a href="hamilfun">Featured in institution-wide Letter from President to New York University | </a></div>
  <div class='bit'><a href="kerouac">Bussing across the country... | </a></div>
  <div class='bit'><a href="graduate-question-mark">Reflections on graduate school | </a></div>
  <div class='bit'><a href="rockaways">A Thanksgiving on the L Train | </a></div>
  <div class='bit'><a href="quantum-modesty">My Research in Quantum Computing | </a></div>
  <div class='bit'><a href="map">more >></a></div>
</div>
