@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Kaushan+Script');
body {
	font-family: "Inconsolata";
	font-size: 40px;
	background-color: #433;
	text-align: center;
	font-size: 1vw;
}

.posts {
	border: black solid 3px;
	border-radius: 20px;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	background-color: #EEE;
	margin-bottom: 50px;
}

.post {
	border: black solid 3px;
	width: 70vw;
	margin: auto;
	height: 300px;
	background-color: #EEE;
}

.title {     padding-top: 30px; font-size: 40px;     border-bottom: grey
solid;     font-family:  "Libre Barcode 128 Text";     text-align: center;
height: 100px; }

.left {
	padding-top: 30px;
	border: black dashed;
	position: relative;
	border-width: 0 3px 0 0;
	width: 50%;
	height: 150px;
	text-align: center;
}

.right {
	padding-top: 30px;
	position: relative;
	top: -170px;
	left: 35vw;
	height: 200px;
	width: 50%;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}