<% content_for :title, "Michael J. Lukiman" %>
  <%= render 'shared/header_tail' %>
  <div class="content-box">
    <h2>Things on my mind [updated 11.5.18]:</h2>
    <ol>
      <li>Creating and implementing advanced mining strategies.</li>
      <li>Writing succintcly on GPU parallelization.</li>
      <li>Deploying website with Rails.</li>
      <li>Thinking of meals to prep.</li>
      <li>Optimizing sleep.</li>
    </ol>

    <h2>Archives:</h2>
    <ul>
      <li>Empty</li>
    </ul>

    _____________________________________________
    <h4>Self-reference:</h4>
    <ul>
      <li>WAKETIME: 05:55</li>
      <li>SLEEPTIME: 01:55</li>
      <li>SUPPS: VIT{A, B, C, D, E}, Mg, K, DHA, EPA, Kelp, Choline, Whey, Caffeine</li>
      <li>MEALS: 2</li>
      <li>VARIATIONS: kale-crowned pork chop, shakshuku extreme, QPs</li>
      <li>CAL: 2500</li>
      <li>HOME: eyescarf, earplugs, kneepillow, neckpillow, blanket, bidet, cushion, pullbar</li>
      <li>TRANSPORT: Razor, MTA, Lyft</li>
      <li>DIGTOOLS: gmail, todoist, gcalendar, gkeep</li>
      <li>HARDWARE: OnePlus X (2015), Dell E6xxx (2014), Huawei Watch G1, HP Envy (2013), iPhone 5 (2015), 27" Samsung Curved (2018), Fire Tablet 7 (2015), MB Air (2016), Generic One-ear Bluetooth (2018), Anker 10KmAh w/ mag. cable (2018)</li>
      <li>CURL: 27.5</li>
      <li>BACK: 90</li>
      <li>BENCH: 80</li>
      <li>ABROT: 100</li>
      <li>CRUNCH: 55</li>
      <li>SHLD: 60</li>
      <li>FLY: 60</li>
      <li>DELT: 60</li>
      <li>GAST: 110</li>
      <li>TRI: 100</li>
      <li>HAM: 40</li>
      <li>QUAD: 50</li>
      <li>PULL: x4</li>
      <li>BOOKS: Blitz, EiB, IntInv</li>
    </ul>
    _____________________________________________

    <h4>Systems I use:</h4>
    <ul>
      <li>Email self with pinned message on what is done well, what could be improved, what was dismal, etc. x 5/day</li>
      <li>Full circulation movement */30 * * * * (CRON)</li>
      <li>Full 500mL */30 * * * *</li>
      <li>Eye Adjustment */30 * * * *</li>
      <li>Swig at 9:00</li>
      <li>Stretch and dead goals on Saturday nights</li>
      <li>MGMT shoes on Sundays</li>
    </ul>


  </div>
  <%= render 'shared/nav' %>
  <%= render 'shared/footer' %>
