

 #newsetal {
 	bottom: 10vh;
 	line-height: 2.2vh;;
 	margin: 10px 70px;
 	position: absolute;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 40vw;
  font-size: 3vh;
 }

 #newsetal .bit {
 	color: #CCC;
 	margin-right: 20px;
  margin-top: 2vh;
 	float: left;
 }



 a {
   color: white;
 }
